.welcome {
  text-align: center;
}
.authComponent {
  float: none;
  margin: auto;
}
.myEatups {
  float: right;
}
.deleteButton {
  float: right;
}
#searchTextField {
  width: 20em;
}
.signing {
  font-size: 1.2em;
}
.listing {
  font-size: 1.2em;
  font-weight: bold;
}

body {
  background-image: url('https://kindaskitchen.files.wordpress.com/2011/07/background3.jpg');
}

h1 {
  font-size: 2.5em;
  color: white;
  text-shadow: 1px 2px 2px black;
}